-i https://pypi.douban.com/simple
astartool
numpy~=1.22.3
matplotlib~=3.5.1
Pillow~=9.1.0
opencv-python
numpy
pandas
pyproj
requests
selenium~=4.18.1
password
prettytable
snowland-algorithm
bitarray
pygame
cfg2
modules
beautifulsoup4
gym
pyglet
pyvirtualdisplay
geopy~=2.4.1
chardet
ntplib
#pip3 install -r requirements.txt -i https://pypi.douban.com/simple
#pip3 install -r requirements.txt -i https://pypi.tuna.tsinghua.edu.cn/simple